.calendar {
  max-width: ($cell-width + $cellGap * 2) * $weekdays;
  display: flex;
  flex-wrap: wrap;

  div {
    width: $cell-width;
    height: $cell-height;
    margin-top: $cellGap;
    margin-left: $cellGap;
  
    background-color: $background-color;
    border: 1px solid black;
  
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;
  }

  & :hover {
    background-color: $background-color-hover;
    transform: translateY(-20px);
    cursor: pointer;
  }

  $weekdays: (
    mon : 0,
    tue : 1,
    wed : 2,
    thu : 3,
    fri : 4,
    sat : 5,
    sun : 6
  );

  @each $name, $margin in $weekdays {
    &-#{$name} {
      :first-child {
        margin-left: ($cell-width + $cellGap * 2) * $margin;
      }
    }
  }

  $days: 28, 29, 30;

  @each $day in $days {
    &-#{$day} {
      @for $i from $day + 1 through 31 {
        :nth-child(#{$i}) {
          display: none;
        }
      }
    }
  }

  @for $number from 1 through 31 {
    :nth-child(#{$number})::after {
      content: "#{$number}";
    }
  }
}
